APP_NAME=cashfy
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=cashfy
DB_USERNAME=root
DB_PASSWORD=password

REDIS_HOST=redis
MEMCACHED_HOST=memcached
MAIL_HOST=mailpit    
